flask==2.2.2
flask_session==0.4.0
flask_login==0.6.2
yara-python==4.2.3
psutil==5.9.4
netaddr==0.8.0
rfc5424-logging-handler==1.4.3
numpy==1.23.2
scipy==1.9.3
joblib==1.2.0
threadpoolctl==3.1.0
scikit-learn==1.2.0
pefile==2022.5.30
splunk-handler==3.0.0
pymongo==4.3.3
signify==0.4.0
lief==0.12.3
pyunpack==0.3
scapy==2.5.0
pymisp==2.4.167
mlxtend==0.21.0
xgboost==1.6.0
otxv2==1.5.12
flask-cors==3.0.10
python-whois==0.8.0
bs4==0.0.1