{% extends "base.html" %}

{% block title %}MALLEVEL: Change Account Password{% endblock %}
<!-- This login page is the pathway to view signatures, update signatures, whitelist files, and view the admin dashboard -->

{% block header %}
<h1 class="w3-center"><b>Change Account Password</b></h1>
{% endblock %}

{% block content %}
<div class="w3-container">
  <br>
  <h4>You are currently logged in as "{{current_user.username}}".</h4>
  <form action = "/changepassword" method = "POST" enctype = "multipart/form-data" class="form-group">
    <br>
    <img class="passwordimage" src="/static/img/password.svg"/>
    <br>
      <table style="width:100%;">
        <tr>
          <td style="width:30%">
            <label for="current">Current Password:</label>
          </td>
          <td>
            <input type = "password" name = "current" required/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="new1">New Password:</label>
          </td>
          <td>
            <input type = "password" name = "new1" required/>
          </td>
        </tr>
        <tr>
          <td>
            <label for="new2">Confirm New Password:</label>
          </td>
          <td>
            <input type = "password" name = "new2" required/>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <input type = "submit" name = "submit" class="submit formbutton btn btn-success"/>
          </td>
        </tr>
      </table>
  </form>
</div>
<div class="display">
  <p class="error">{{error}}</p>
</div>
{% endblock %}

{% block scripts %}
  <script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }


  </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock %}
